.card-list {

}

.card {
	.card-img {
		@extend %hoverTrans;
		margin-bottom: 30px;

		&:hover {
			@include hoverFade(0.6);
		}
	}

	.card-text {
		margin-bottom: 30px;

		h3 {
			font-size: 20px;
			line-height: 24px;
			letter-spacing: 2px;
			margin-bottom: 6px;
		}

		p {
			margin-top: 4px;
			margin-bottom: 2px;
			line-height: 18px;

			&:last-child {
				margin-bottom: 8px;
			}
		}

		a.text-link {
			font-size: 15px;
			line-height: 18px;
			margin-top: 12px;
			letter-spacing: 1px;
			display: inline-block;
		}
	}
}

.card-carousel-wrapper {
	.card-carousel {
		padding: 0 80px;

		.card {
			padding: 0 20px;
		}

		.card-text {
			margin-bottom: 0;
		}
	}

	.slider-arrows {
		width: 100%;
		position: absolute;
		top: 50%;
		transform: translateY(calc(-50% - 45px));

		.inner {
			height: 20px;
		}

		.slick-next,
		.slick-prev {
			position: absolute;
		}
		.slick-next {
			right: 0;
		}
		.slick-prev {
			left: 0;
		}
	}
}
@media only screen and (max-width:1440px) {
	.card-carousel-wrapper {
		.card-carousel {
			padding: 0 60px;
		}
	}
}
@media only screen and (max-width:1024px) {
	.card-carousel-wrapper {
		.card-carousel {
			padding: 0 50px;

			.card {
				padding: 0 14px;
			}
		}
	}
}
@media only screen and (max-width:768px) {
	.card-carousel-wrapper {
		.card-carousel {
			padding: 0 40px;

			.card {
				padding: 0 12px;
			}
		}
	}
}
@media only screen and (max-width:480px) {
	.card-carousel-wrapper {
		.card-carousel {
			padding: 0 30px;

			.card {
				padding: 0 10px;
			}
		}
	}
}



.cta-slider-wrapper {
	.slider-arrows {
		width: 100%;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);

		.inner {
			height: 20px;
		}

		.slick-next,
		.slick-prev {
			position: absolute;
		}
		.slick-next {
			right: 3.5%;
		}
		.slick-prev {
			left: 3.5%;
		}
	}
}
.cta-slider {
	.slide {
		@extend %bgCover--center;

		.slide-content {
			width: 100%;
			color: $white;
		}

		.inner {
			width: 100%;
			padding-bottom: 56.25%;
		}
	}
}