.footer {
	.footer-columns {
		display: flex;
		flex-direction: row-reverse;
	}

	.footer-right {
		border-left: 1px solid $white;
		padding-left: 5%;
	}

	.footer-left {
		padding-right: 3%;
	}
}

.footer-links {
	li {
		font-size: 20px;
		line-height: 24px;
		margin-bottom: 32px;
		letter-spacing: 2px;

		&:last-child {
			margin-bottom: 0;
		}

		a {
			color: $white;
			border-bottom: 1px solid $black;
			@extend %hoverTrans;

			&:hover {
				border-color: $white;
			}
		}
	}
}

.footer-info {
	h3 {
		font-size: 20px;
		line-height: 24px;
		margin-bottom: 4px;
	}

	p {
		@extend %sansXLt;
		font-size: 15px;
		line-height: 23px;
		margin-bottom: 0;
		letter-spacing: 1px;
	}

	a {
		color: $white;
	}

	.footer-social {
		margin-top: 40px;

		li {
			font-size: 22px;
			display: inline-block;
			margin-right: 20px;

			&:last-child {
				margin-right: 0;
			}

			a {
				color: $white;
				@extend %hoverTrans;

				&:hover {
					color: $primary;
				}
			}
		}
	}
}


// FOOTER BREAKPOINTS = = = = = = =

@media only screen and (max-width:1800px) {
	.footer-links {
		li {
			font-size: 18px;
			line-height: 22px;
			margin-bottom: 30px;
		}
	}
}

@media only screen and (max-width:1440px) {
	.footer-links {
		li {
			font-size: 17px;
			line-height: 20px;
			margin-bottom: 26px;
		}
	}
}

@media only screen and (max-width:1280px) {
	.footer-links {
		li {
			font-size: 16px;
			line-height: 19px;
			margin-bottom: 24px;
		}
	}

	.footer-info {
		h3 {
			font-size: 18px;
			line-height: 22px;
		}

		p {
			font-size: 14px;
			line-height: 22px;
		}
	}
}

@media only screen and (max-width:1140px) {
	.footer-links {
		li {
			font-size: 15px;
			line-height: 18px;
			margin-bottom: 23px;
			letter-spacing: 1px;
		}
	}

	.footer-info {
		p {
			letter-spacing: 0;
		}
	}
}

@media only screen and (max-width:900px) {
	.footer {
		.footer-columns {
			display: block;
		}

		.footer-right {
			border-left: none;
			padding-left: 0;
		}

		.footer-left {
			padding-right: 0;
		}
	}

	.footer-links {
		li {
			font-size: 18px;
			line-height: 22px;
			margin-bottom: 30px;
		}
	}

	.footer-info {
		h3 {
			font-size: 20px;
			line-height: 24px;
			margin-bottom: 4px;
		}

		p {
			font-size: 15px;
			line-height: 23px;
			margin-bottom: 0;
			letter-spacing: 1px;
		}
	}
}

@media only screen and (max-width:768px) {
	.footer-links {
		li {
			font-size: 16px;
			line-height: 19px;
			margin-bottom: 24px;
		}
	}

	.footer-info {
		h3 {
			font-size: 18px;
			line-height: 22px;
		}

		p {
			font-size: 14px;
			line-height: 22px;
		}
	}
}

@media only screen and (max-width:480px) {
	.footer-links {
		li {
			font-size: 15px;
			line-height: 18px;
			margin-bottom: 14px;
			letter-spacing: 1px;
		}
	}

	.footer-info {
		.span_1_of_2 {
			display: block;
			width: 100%;
			margin-left: 0;
			margin-bottom: 30px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

@media only screen and (max-width:360px) {
	.footer-info {
		.span_1_of_2 {
			display: block;
			width: 100%;
			margin-left: 0;
			margin-bottom: 30px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}