.header-outer {
	position: fixed;
	z-index: 90;
	transition: transform 0.2s cubic-bezier(0.340, 0.070, 0.095, 0.995);

	&.headerHidden {
		transform: translateY(-100%);
	}
}

.header-wrapper {
	&.hasBackground {
	// These styles are duplicated down in the "headerAtHeroTop" section - change in both places
		background-color: $white;
		transition: background-color 0.4s ease;

		.header {
			background-color: $white;
			transition: background-color 0.4s ease;

			.logo {
				background-image: url('../../img/logo-blk@2x.png');
			}

			.menu-desktop {
				li {
					a {
						color: $black;
					}

					&.hasSubMenu {
						&:hover {
							ul.submenu {
								transition-delay: 0.2s !important;
							}
						}
					}
				}

				ul.submenu {
					opacity: 1;
					pointer-events: auto;
					transition: transform 0.25s cubic-bezier(0.340, 0.070, 0.095, 0.995), opacity 0.1s linear 0.4s;

					li {
						a {
							color: $white;
							border-color: $black;

							&:hover {
								border-color: $white;
							}
						}
					}
				}
			}

			.search-link {
				a {
					color: $black;
				}
			}

			.menu-desktop,
			.search-link {
				a {
					border-bottom: 1px solid rgba($black, 0);

					&:hover {
						border-color: $black;
					}
				}
			}
		}
	// These styles are duplicated down in the "headerAtHeroTop" section - change in both places
	}

	&.headerAtHeroTop {
		background-color: transparent;
		transition: background-color 0.4s ease;
		transition-delay: 0.1s;

		.header {
			background-color: transparent;
			transition: background-color 0.4s ease;
			transition-delay: 0.1s;

			.logo {
				background-image: url('../../img/logo-wht@2x.png');
			}

			.menu-desktop {
				li {
					a {
						color: $white;
					}
				}

				ul.submenu {
					opacity: 0;
					pointer-events: none;
					transition: transform 0.25s cubic-bezier(0.340, 0.070, 0.095, 0.995), opacity 0.1s linear;
				}
			}

			.search-link {
				a {
					color: $white;
				}
			}

			.menu-desktop,
			.search-link {
				a {
					border-bottom: 1px solid rgba($white, 0);

					&:hover {
						border-color: $white;
					}
				}
			}
		}

		&.hasBackground {
		// These styles are duplicated up in the base "header-wrapper" section - change in both places
			background-color: $white;
			transition: background-color 0.4s ease;

			.header {
				background-color: $white;
				transition: background-color 0.4s ease;

				.logo {
					background-image: url('../../img/logo-blk@2x.png');
				}

				.menu-desktop {
					li {
						a {
							color: $black;
						}

						&.hasSubMenu {
							&:hover {
								ul.submenu {
									transition-delay: 0.2s !important;
								}
							}
						}
					}

					ul.submenu {
						opacity: 1;
						pointer-events: auto;
						transition: transform 0.25s cubic-bezier(0.340, 0.070, 0.095, 0.995), opacity 0.1s linear 0.4s;

						li {
							a {
								color: $white;
								border-color: $black;

								&:hover {
									border-color: $white;
								}
							}
						}
					}
				}

				.search-link {
					a {
						color: $black;
					}
				}

				.menu-desktop,
				.search-link {
					a {
						border-bottom: 1px solid rgba($black, 0);

						&:hover {
							border-color: $black;
						}
					}
				}
			}
		// These styles are duplicated up in the base "header-wrapper" section - change in both places
		}
	}
}

.header {
	font-size: 0;
	background-color: $white;
	position: static;

	.inner.container--full {
		position: static;
	}

	.logo {
		display: inline-block;
		width: 136px;
		height: 19px;
		background-image: url('../../img/logo-blk@2x.png');
		background-size: 136px 19px;
		background-repeat: no-repeat;
		margin-right: 24px;
		margin-top: 42px;
		vertical-align: top;
		@extend %hoverTrans;

		&:hover {
			@include hoverFade(0.6);
		}

		a {
			@extend %linkblock;
		}
	}

	.menu-desktop {
		width: calc(100% - 310px);
		display: inline-block;
		vertical-align: top;

		ul {
			text-align: center;

			li {
				@extend %sansLt;
				display: inline-block;
				margin-right: 60px;
				font-size: 20px;
				line-height: 22px;
				letter-spacing: 2px;
				padding: 38px 0;

				&:last-child {
					margin-right: 0;
				}

				&.hasSubMenu {
					&:hover {
						ul.submenu {
							transform: translateY(0);
						}
					}
				}
			}
		}

		ul.submenu {
			position: absolute;
			top: 100px;
			left: 0;
			width: 100%;
			background-color: $black;
			z-index: -1;
			text-align: center;
			transform: translateY(-100%);
			transition: transform 0.25s cubic-bezier(0.340, 0.070, 0.095, 0.995);
			padding: 30px 0;

			li {
				font-size: 15px;
				line-height: 17px;
				padding: 4px 0;
				margin-top: 6px;
				margin-bottom: 6px;
				margin-right: 46px;

				a {
					color: $white;
					border-color: $black;

					&:hover {
						border-color: $white;
					}
				}
			}
		}
	}

	.search-link {
		@extend %sansLt;
		display: inline-block;
		vertical-align: top;
		text-align: right;
		font-size: 20px;
		line-height: 22px;
		letter-spacing: 2px;
		padding: 38px 0;
		float: right;

		a {
			margin-right: -6px;
		}
	}

	.menu-desktop,
	.search-link {
		a {
			display: block;
			border-bottom: 1px solid $white;
			@extend %hoverTrans;
			padding: 1px 0;

			&:hover {
				border-color: $black;
			}
		}
	}
}



// HEADER BREAKPOINTS = = = = = = =

