.hero {
	.hero-slide {
		@extend %bgCover--center;
	}

	.hero-content {
		text-align: center;

		h3 {
			font-size: 15px;
			line-height: 18px;
			margin-bottom: 8px;
		}
	}
}

.hero-wrapper {
	.slider-arrows {
		position: absolute;
		bottom: 5%;
		width: 100%;

		.slick-next {
			position: absolute;
			top: 0;
			right: 0;
		}
	}
}

@media only screen and (max-width:1280px) {
	.hero {
		h2 {
			font-size: 40px;
			line-height: 50px;
		}
	}
}

@media only screen and (max-width:1024px) {
	.hero {
		h2 {
			font-size: 36px;
			line-height: 46px;
		}
	}
}

@media only screen and (max-width:900px) {
	.hero {
		h2 {
			font-size: 32px;
			line-height: 42px;
		}
	}
}

@media only screen and (max-width:768px) {
	.hero {
		h2 {
			font-size: 30px;
			line-height: 38px;
		}
	}
}

@media only screen and (max-width:768px) {
	.hero {
		h2 {
			font-size: 26px;
			line-height: 34px;
		}
	}
}

@media only screen and (max-width:680px) {
	.hero {
		h2 {
			font-size: 24px;
			line-height: 32px;
		}

		h3 {
			font-size: 14px;
			line-height: 17px;
		}
	}
}

@media only screen and (max-width:420px) {
	.hero {
		h2 {
			font-size: 22px;
			line-height: 30px;
		}
	}
}