<div class="hero-wrapper wrapper">
	<div class="hero hero-slider wrapper">
		<div class="hero-slide fullVP hasOverlay" style="background-image: url('/img/hero-1.jpg');">
			<div class="overlay"></div>
			<div class="hero-content container--s overlay-content vAlign">
				<h3>Freshly Dropped</h3>
				<h2>The Hupper 2 Lo</h2>
				<div class="center-btns btn-row">
					<a href="#" class="btn btn--noOutlineHover">Shop Now</a>
				</div>
			</div>
		</div>

		<div class="hero-slide fullVP hasOverlay" style="background-image: url('/img/hero-1.jpg');">
			<div class="overlay overlay--65"></div>
			<div class="hero-content container--s overlay-content vAlign">
				<h3>Look Here</h3>
				<h2>Second Slide (w/darker overlay)</h2>
				<div class="center-btns btn-row">
					<a href="#" class="btn btn--noOutlineHover">Test</a>
				</div>
			</div>
		</div>
	</div>

	<div class="slider-arrows whiteArrows">
		<div class="inner container--full"></div>
	</div>
</div>