.center-btns {
	text-align: center;
}

.btn-row {
	.btn {
		margin-right: 50px;

		&:last-child {
			margin-right: 0;
		}
	}
}

.btn-grid {
	.btn {
		display: block;
		padding-left: 6px;
		padding-right: 6px;
		text-align: center;
	}
}

.btn {
	color: $white;
	background-color: $black;
	font-size: 15px;
	line-height: 19px;
	padding: 9px 26px 11px;
	display: inline-block;
	letter-spacing: 2px;
	text-decoration: none;
	@extend %hoverTrans;

	&.btn--primary {
		background-color: $primary;
	}

	&.btn--secondary {
		background-color: $secondary;
	}

	&:hover {
		color: $black;
		background-color: $white;
		box-shadow: inset 0px 0px 0px 1px $black;

		&.btn--primary {
			color: $primary;
			background-color: $white;
			box-shadow: inset 0px 0px 0px 1px $primary;
		}

		&.btn--secondary {
			color: $secondary;
			background-color: $white;
			box-shadow: inset 0px 0px 0px 1px $secondary;
		}
	}

	&.btn--noOutlineHover {
		&:hover {
			box-shadow: none;
		}
	}


	&.btn--alt {
		color: $black;
		background-color: transparent;
		box-shadow: inset 0px 0px 0px 1px $black;

		&.btn--primary {
			color: $primary;
			box-shadow: inset 0px 0px 0px 1px $primary;
		}

		&.btn--secondary {
			color: $secondary;
			box-shadow: inset 0px 0px 0px 1px $secondary;
		}

		&:hover {
			color: $white;
			background-color: $black;

			&.btn--primary {
				background-color: $primary;
			}

			&.btn--secondary {
				background-color: $secondary;
			}
		}
	}


	&.btn--disabled {
		pointer-events: none;
		background-color: $medGrayLt;

		&.btn--alt {
			color: $medGrayLt;
			background-color: transparent;
			box-shadow: inset 0px 0px 0px 1px $medGrayLt;
		}
	}


	&.btn--l {
		font-size: 22px;
		padding: 20px 40px;
	}

	&.btn--s {
		font-size: 14px;
		padding: 8px 14px;
	}
}