</div><!-- /.middle-wrapper -->

<div class="footer-wrapper wrapper isBlack bgIsDark">
	<footer class="footer container--l well--s" role="contentinfo">
		<div class="footer-columns grid-container">
			<div class="row">
				<div class="footer-links footer-right col-12 col-lg-6 push-lg-6 col-xl-7 push-xl-5 well--s">
					<div class="inner grid-container">
						<div class="row">
							<ul class="col-12 col-sm-6 col-md-4 col-lg-6 col-xl-4">
								<li><a href="#">About Us</a></li>
								<li><a href="#">The Boarder Am</a></li>
								<li><a href="#">Skate Nerd</a></li>
								<li><a href="#">Contest Results</a></li>
							</ul>
							<ul class="col-12 col-sm-6 col-md-4 col-lg-6 col-xl-4">
								<li><a href="#">Help</a></li>
								<li><a href="#">Shipping &amp; Returns</a></li>
								<li><a href="#">The Shop</a></li>
								<li><a href="#">Privacy Policy</a></li>
							</ul>
							<ul class="col-12 col-sm-6 col-md-4 col-lg-6 col-xl-4">
								<li><a href="#">Events</a></li>
								<li><a href="#">Skater Database</a></li>
								<li><a href="#">Global Ranks</a></li>
								<li><a href="#">Blog</a></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="footer-info footer-left col-12 col-lg-6 pull-lg-6 col-xl-5 pull-xl-7 well--s">
					<div class="inner">
						<div class="footer-info-top grid-container">
							<div class="row">
								<div class="footer-address col-12 col-sm-6">
									<h3>The Boardr HQ</h3>
									<p>4611 North Hale Avenue<br />
									Tampa, Florida 33614</p>
									<p><a href="tel:+18138767677"><span class="noWrap">(813) 876 - 7677</span></a></p>
									<p>Monday - Saturday: <span class="noWrap">11am to 6pm</span></p>
								</div>

								<div class="footer-address col-12 col-sm-6">
									<h3>The Boardr Gainesville</h3>
									<p>17 West University Avenue<br />
									Gainesville, Florida 32601</p>
									<p><a href="tel:+13522245851"><span class="noWrap">(352) 224 - 5851</span></a></p>
									<p>Monday - Saturday: <span class="noWrap">12pm to 8pm</span></p>
								</div>
							</div>
						</div>

						<div class="footer-social">
							<ul>
								<li><a href="#"><span class="fa fa-youtube-play"></span></a></li>
								<li><a href="#"><span class="fa fa-instagram"></span></a></li>
								<li><a href="#"><span class="fa fa-twitter"></span></a></li>
								<li><a href="#"><span class="fa fa-facebook"></span></a></li>
								<li><a href="#"><span class="fa fa-snapchat-ghost"></span></a></li>
								<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
								<li><a href="#"><span class="fa fa-tumblr"></span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>

		</div>
	</footer>
</div><!-- /.footer-wrapper -->