<div class="footer-wrapper wrapper isBlack bgIsDark">
	<footer class="footer container--full well--s" role="contentinfo">
		<div class="footer-columns grid-group gutter--none">
			<div class="footer-links footer-right col span_6_of_11 well--s">
				<div class="inner grid-group gutter--m row_of_2--tablet hasRows--tablet">
					<ul class="col span_1_of_3 tablet_1_of_2">
						<li><a href="#">About Us</a></li>
						<li><a href="#">The Boarder Am</a></li>
						<li><a href="#">Skate Nerd</a></li>
						<li><a href="#">Contest Results</a></li>
					</ul>
					<ul class="col span_1_of_3 tablet_1_of_2">
						<li><a href="#">Help</a></li>
						<li><a href="#">Shipping/Returns</a></li>
						<li><a href="#">The Shop</a></li>
						<li><a href="#">Privacy Policy</a></li>
					</ul>
					<ul class="col span_1_of_3 tablet_1_of_2">
						<li><a href="#">Events</a></li>
						<li><a href="#">Skater Database</a></li>
						<li><a href="#">Global Ranks</a></li>
						<li><a href="#">Blog</a></li>
					</ul>
				</div>
			</div>

			<div class="footer-info footer-left col span_5_of_11 well--s">
				<div class="footer-info-top grid-group gutter">
					<div class="footer-address col span_1_of_2 tablet_full_span">
						<h3>The Boardr HQ</h3>
						<p>4611 North Hale Avenue<br />
						Tampa, Florida 33614</p>
						<p><a href="tel:+18138767677">(813) 876 - 7677</a></p>
						<p>Monday - Saturday: 11am to 6pm</p>
					</div>

					<div class="footer-address col span_1_of_2 tablet_full_span">
						<h3>The Boardr Gainesville</h3>
						<p>17 West University Avenue<br />
						Gainesville, Florida 32601</p>
						<p><a href="tel:+13522245851">(352) 224 - 5851</a></p>
						<p>Monday - Saturday: 12pm to 8pm</p>
					</div>
				</div>

				<div class="footer-social">
					<ul>
						<li><a href="#"><span class="fa fa-youtube"></span></a></li>
						<li><a href="#"><span class="fa fa-instagram"></span></a></li>
						<li><a href="#"><span class="fa fa-twitter"></span></a></li>
						<li><a href="#"><span class="fa fa-facebook"></span></a></li>
						<li><a href="#"><span class="fa fa-snapchat"></span></a></li>
						<li><a href="#"><span class="fa fa-googleplus"></span></a></li>
						<li><a href="#"><span class="fa fa-tumblr"></span></a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
</div>