<div class="header-outer wrapper">
	<div class="header-wrapper wrapper isWhite">
		<header class="header" role="banner">
			<div class="inner container--full">
				<div class="logo"><a href="/"></a></div>

				<div class="mobile-menu-toggle">
					<a href="#" id="menu-toggle" class="menu-trigger">Menu</a>
				</div>

				<nav class="menu menu-desktop" role="navigation">
					<ul>
						<li class="hasSubMenu">
							<a href="#">Shop</a>
							<ul class="submenu">
								<li><a href="#">Cart/Checkout</a></li>
								<li><a href="#">Shoes</a></li>
								<li><a href="#">Collections</a></li>
								<li><a href="#">Browse All</a></li>
								<li><a href="#">Adidas Shoes</a></li>
								<li><a href="#">Vans Shoes</a></li>
							</ul>
						</li>
						<li class="hasSubMenu">
							<a href="#">Skaters</a>
							<ul class="submenu">
								<li><a href="#">Global Ranks</a></li>
								<li><a href="#">Ranks: Ups &amp; Downs</a></li>
								<li><a href="#">Instagram Ranks</a></li>
								<li><a href="#">Youtube Ranks</a></li>
								<li><a href="#">Skater Database</a></li>
								<li><a href="#">Skate Videos</a></li>
							</ul>
						</li>
						<li><a href="#">Events</a></li>
						<li><a href="#">About</a></li>
					</ul>
				</nav>

				<div class="header-search-bar">
					<form>
						<div class="ais-search-box"><input type="text" id="search-box" name="q" placeholder="Search profiles, products, events, articles, photos..." autocapitalize="off" autocomplete="off" autocorrect="off" role="textbox" spellcheck="false" value="" class="ais-search-box--input"></div>
					</form>
				</div>

				<div class="search-link search-toggle">
					<a href="#" data-text-swap="Cancel" data-text-original="Search" class="open-search">Search</a>
				</div>
			</div>
		</header>
	</div>
</div><!-- /.header-outer -->


<div class="search-results wrapper bgIsDark isBlack">
	<div class="inner container well--s">

		<div id="stats-container">
			<div data-reactroot="" class="ais-root ais-stats">
				<div class="ais-body ais-stats--body">
					<div>1,238 results <span class="ais-stats--time">found in 6ms</span></div>
				</div>
			</div>
		</div>

		<div id="hits" class="grid-container well--s">
			<div class="row">
				<div class="col-6">
					<div class="inner grid-container">
						<div class="row">
							<div class="search-result-img col">
								<a href="https://theboardr.com/photo/Get_Rad_for_Ray_-_Scotty_Eats"><img src="https://theboardr.blob.core.windows.net/photos/8430_600.jpg" alt="Scotty Conley aka The Body in Get Rad for Ray - Scotty Eats Photo" class="img-rounded" style="max-height: 200px;"></a>
							</div>
							<div class="search-result-text col-7">
								<h2 class="hit-name">Photo: <a href="https://theboardr.com/photo/Get_Rad_for_Ray_-_Scotty_Eats">Scotty Conley aka The Body in Get Rad for Ray - Scotty Eats Photo</a></h2>
								<p>Scotty tests out the chili dogs wherever we go.</p>
							</div>
						</div>
					</div>
				</div>

				<div class="col-6">
					<div class="inner grid-container">
						<div class="row">
							<div class="search-result-img col">
								<a href="https://theboardr.com/photo/Paul_Zitzer_Poser_of_the_Month_in_Shanghai"><img src="https://theboardr.blob.core.windows.net/photos/199_600.jpg" alt="James Craig in Paul Zitzer Poser of the Month in Shanghai Photo" class="img-rounded" style="max-height: 200px;"></a>
							</div>
							<div class="search-result-text col-7">
								<h2 class="hit-name">Photo: <a href="https://theboardr.com/photo/Paul_Zitzer_Poser_of_the_Month_in_Shanghai">James Craig in Paul Zitzer Poser of the Month in Shanghai Photo</a></h2>
								<p>Zitzer tests the low ledge with a Poser of the Month while James Craig is on cheerleader duty.</p>
							</div>
						</div>
					</div>
				</div>

				<div class="col-6">
					<div class="inner grid-container">
						<div class="row">
							<div class="search-result-img col">
								<a href="https://theboardr.com/photo/Wear_Testing_at_the_adidas_Offices_in_Portland"><img src="https://theboardr.blob.core.windows.net/photos/1053_600.jpg" alt="Wear Testing at the adidas Offices in Portland Photo" class="img-rounded" style="max-height: 200px;"></a>
							</div>
							<div class="search-result-text col-7">
								<h2 class="hit-name">Photo: <a href="https://theboardr.com/photo/Wear_Testing_at_the_adidas_Offices_in_Portland">Wear Testing at the adidas Offices in Portland Photo</a></h2>
								<p>We're at the wear testing department right now.</p>
							</div>
						</div>
					</div>
				</div>

				<div class="col-6">
					<div class="inner grid-container">
						<div class="row">
							<div class="search-result-img col">
								<a href="https://theboardr.com/photo/The_Boardr_Am_at_Tampa_-_Marinela_Grip"><img src="https://theboardr.blob.core.windows.net/photos/8294_600.jpg" alt="The Boardr Am at Tampa - Marinela Grip Photo" class="img-rounded" style="max-height: 200px;"></a>
							</div>
							<div class="search-result-text col-7">
								<h2 class="hit-name">Photo: <a href="https://theboardr.com/photo/The_Boardr_Am_at_Tampa_-_Marinela_Grip">The Boardr Am at Tampa - Marinela Grip Photo</a></h2>
								<p>Marinela grip tape being put to the test.</p>
							</div>
						</div>
					</div>
				</div>

				<div class="col-6">
					<div class="inner grid-container">
						<div class="row">
							<div class="search-result-img col">
								<a href="https://theboardr.com/profile/3670/Eric_Testerman"><img src="https://theboardr.blob.core.windows.net/headshots/3670.jpg" alt="Eric Testerman Profile Bio" class="img-rounded" style="max-height: 200px;"></a>
							</div>
							<div class="search-result-text col-7">
								<h2 class="hit-name">Profile: <a href="https://theboardr.com/profile/3670/Eric_Testerman">Eric Testerman Profile Bio</a></h2>
								<p>Photos, videos, and more info on Eric Testerman from Eustis FL. </p>
							</div>
						</div>
					</div>
				</div>

				<div class="col-6">
					<div class="inner grid-container">
						<div class="row">
							<div class="search-result-img col">
								<a href="https://theboardr.com/photo/Get_Rad_for_Ray_-_Scotty_Eats"><img src="https://theboardr.blob.core.windows.net/photos/8430_600.jpg" alt="Scotty Conley aka The Body in Get Rad for Ray - Scotty Eats Photo" class="img-rounded" style="max-height: 200px;"></a>
							</div>
							<div class="search-result-text col-7">
								<h2 class="hit-name">Photo: <a href="https://theboardr.com/photo/Get_Rad_for_Ray_-_Scotty_Eats">Scotty Conley aka The Body in Get Rad for Ray - Scotty Eats Photo</a></h2>
								<p>Scotty tests out the chili dogs wherever we go.</p>
							</div>
						</div>
					</div>
				</div>

				<div class="col-6">
					<div class="inner grid-container">
						<div class="row">
							<div class="search-result-img col">
								<a href="https://theboardr.com/photo/The_Boardr_Am_at_Tampa_-_Marinela_Grip"><img src="https://theboardr.blob.core.windows.net/photos/8294_600.jpg" alt="The Boardr Am at Tampa - Marinela Grip Photo" class="img-rounded" style="max-height: 200px;"></a>
							</div>
							<div class="search-result-text col-7">
								<h2 class="hit-name">Photo: <a href="https://theboardr.com/photo/The_Boardr_Am_at_Tampa_-_Marinela_Grip">The Boardr Am at Tampa - Marinela Grip Photo</a></h2>
								<p>Marinela grip tape being put to the test.</p>
							</div>
						</div>
					</div>
				</div>

				<div class="col-6">
					<div class="inner grid-container">
						<div class="row">
							<div class="search-result-img col">
								<a href="https://theboardr.com/photo/Wear_Testing_at_the_adidas_Offices_in_Portland"><img src="https://theboardr.blob.core.windows.net/photos/1053_600.jpg" alt="Wear Testing at the adidas Offices in Portland Photo" class="img-rounded" style="max-height: 200px;"></a>
							</div>
							<div class="search-result-text col-7">
								<h2 class="hit-name">Photo: <a href="https://theboardr.com/photo/Wear_Testing_at_the_adidas_Offices_in_Portland">Wear Testing at the adidas Offices in Portland Photo</a></h2>
								<p>We're at the wear testing department right now.</p>
							</div>
						</div>
					</div>
				</div>

				<div class="col-6">
					<div class="inner grid-container">
						<div class="row">
							<div class="search-result-img col">
								<a href="https://theboardr.com/photo/Paul_Zitzer_Poser_of_the_Month_in_Shanghai"><img src="https://theboardr.blob.core.windows.net/photos/199_600.jpg" alt="James Craig in Paul Zitzer Poser of the Month in Shanghai Photo" class="img-rounded" style="max-height: 200px;"></a>
							</div>
							<div class="search-result-text col-7">
								<h2 class="hit-name">Photo: <a href="https://theboardr.com/photo/Paul_Zitzer_Poser_of_the_Month_in_Shanghai">James Craig in Paul Zitzer Poser of the Month in Shanghai Photo</a></h2>
								<p>Zitzer tests the low ledge with a Poser of the Month while James Craig is on cheerleader duty.</p>
							</div>
						</div>
					</div>
				</div>

				<div class="col-6">
					<div class="inner grid-container">
						<div class="row">
							<div class="search-result-img col">
								<a href="https://theboardr.com/profile/3670/Eric_Testerman"><img src="https://theboardr.blob.core.windows.net/headshots/3670.jpg" alt="Eric Testerman Profile Bio" class="img-rounded" style="max-height: 200px;"></a>
							</div>
							<div class="search-result-text col-7">
								<h2 class="hit-name">Profile: <a href="https://theboardr.com/profile/3670/Eric_Testerman">Eric Testerman Profile Bio</a></h2>
								<p>Photos, videos, and more info on Eric Testerman from Eustis FL. </p>
							</div>
						</div>
					</div>
				</div>

				<div class="col-6">
					<div class="inner grid-container">
						<div class="row">
							<div class="search-result-img col">
								<a href="https://theboardr.com/photo/Get_Rad_for_Ray_-_Scotty_Eats"><img src="https://theboardr.blob.core.windows.net/photos/8430_600.jpg" alt="Scotty Conley aka The Body in Get Rad for Ray - Scotty Eats Photo" class="img-rounded" style="max-height: 200px;"></a>
							</div>
							<div class="search-result-text col-7">
								<h2 class="hit-name">Photo: <a href="https://theboardr.com/photo/Get_Rad_for_Ray_-_Scotty_Eats">Scotty Conley aka The Body in Get Rad for Ray - Scotty Eats Photo</a></h2>
								<p>Scotty tests out the chili dogs wherever we go.</p>
							</div>
						</div>
					</div>
				</div>

				<div class="col-6">
					<div class="inner grid-container">
						<div class="row">
							<div class="search-result-img col">
								<a href="https://theboardr.com/photo/Wear_Testing_at_the_adidas_Offices_in_Portland"><img src="https://theboardr.blob.core.windows.net/photos/1053_600.jpg" alt="Wear Testing at the adidas Offices in Portland Photo" class="img-rounded" style="max-height: 200px;"></a>
							</div>
							<div class="search-result-text col-7">
								<h2 class="hit-name">Photo: <a href="https://theboardr.com/photo/Wear_Testing_at_the_adidas_Offices_in_Portland">Wear Testing at the adidas Offices in Portland Photo</a></h2>
								<p>We're at the wear testing department right now.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div><!-- /#hits -->

		<div id="pages" class="well--s">
			<ul data-reactroot="" class="ais-pagination">
				<li class="ais-pagination--item pagination ais-pagination--item__first ais-pagination--item__disabled"><span class="ais-pagination--link fa fa-angle-double-left"></span></li>
				<li class="ais-pagination--item pagination ais-pagination--item__previous ais-pagination--item__disabled"><span class="ais-pagination--link fa fa-angle-left"></span></li>
				<li class="ais-pagination--item pagination ais-pagination--item__page ais-pagination--item__active"><a class="ais-pagination--link" aria-label="1" href="https://theboardr.com/testsearch?q=test&amp;hPP=5&amp;idx=BoardrData&amp;p=0">1</a></li>
				<li class="ais-pagination--item pagination ais-pagination--item__page"><a class="ais-pagination--link" aria-label="2" href="https://theboardr.com/testsearch?q=test&amp;hPP=5&amp;idx=BoardrData&amp;p=1">2</a></li>
				<li class="ais-pagination--item pagination ais-pagination--item__page"><a class="ais-pagination--link" aria-label="3" href="https://theboardr.com/testsearch?q=test&amp;hPP=5&amp;idx=BoardrData&amp;p=2">3</a></li>
				<li class="ais-pagination--item pagination ais-pagination--item__page"><a class="ais-pagination--link" aria-label="4" href="https://theboardr.com/testsearch?q=test&amp;hPP=5&amp;idx=BoardrData&amp;p=3">4</a></li>
				<li class="ais-pagination--item pagination ais-pagination--item__page"><a class="ais-pagination--link" aria-label="5" href="https://theboardr.com/testsearch?q=test&amp;hPP=5&amp;idx=BoardrData&amp;p=4">5</a></li>
				<li class="ais-pagination--item pagination ais-pagination--item__page"><a class="ais-pagination--link" aria-label="6" href="https://theboardr.com/testsearch?q=test&amp;hPP=5&amp;idx=BoardrData&amp;p=5">6</a></li>
				<li class="ais-pagination--item pagination ais-pagination--item__page"><a class="ais-pagination--link" aria-label="7" href="https://theboardr.com/testsearch?q=test&amp;hPP=5&amp;idx=BoardrData&amp;p=6">7</a></li>
				<li class="ais-pagination--item pagination ais-pagination--item__next"><a class="ais-pagination--link" aria-label="Next" href="https://theboardr.com/testsearch?q=test&amp;hPP=5&amp;idx=BoardrData&amp;p=1"><span class="fa fa-angle-right"></span></a></li>
				<li class="ais-pagination--item pagination ais-pagination--item__last"><a class="ais-pagination--link" aria-label="Last" href="https://theboardr.com/testsearch?q=test&amp;hPP=5&amp;idx=BoardrData&amp;p=49"><span class="fa fa-angle-double-right"></span></a></li>
			</ul>
		</div><!-- /#pages -->
	</div>
</div>

<div class="middle-wrapper">