<!-- mp-menu -->
<nav id="mp-menu" class="mp-menu">
	<div class="mp-level">
		<div class="inner" style="overflow-x: hidden; overflow-y: scroll; position: absolute; width: 100%; height: 100%;">
			<a class="mp-back close-menu" href="#">Close</a>

			<ul>
				<li class="hasChildMenu">
					<a href="#">Shop</a>
					<div class="mp-level">
						<div class="inner" style="overflow-x: hidden; overflow-y: scroll; position: fixed; width: 100%; height: 100%;">
							<a class="mp-back" href="#">back</a>
							<h3><a href="/shop">Shop</a></h3>
							<ul>
								<li><a href="#">Cart/Checkout</a></li>
								<li><a href="#">Collections</a></li>
								<li><a href="#">Shoes</a></li>

								<li class="hasChildMenu">
									<a class="icon icon-phone" href="#">Top Shoe Brands</a>
									<div class="mp-level">
										<a class="mp-back" href="#">back</a>
										<h3><a href="/shop/">Top Shoe Brands</a></h3>
										<ul>
											<li><a href="#">Browse All</a></li>
											<li><a href="#">Adidas Shoes</a></li>
											<li><a href="#">Vans Shoes</a></li>
										</ul>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</li>

				<li class="hasChildMenu">
					<a href="#">Skaters</a>
					<div class="mp-level">
						<div class="inner" style="overflow-x: hidden; overflow-y: scroll; position: fixed; width: 100%; height: 100%;">
							<a class="mp-back" href="#">back</a>
							<h3><a href="/skaters">Skaters</a></h3>
							<ul>
								<li><a href="#">Global Ranks</a></li>
								<li><a href="#">Ranks: Ups &amp; Downs</a></li>
								<li><a href="#">Instagram Ranks</a></li>
								<li><a href="#">Youtube Ranks</a></li>
								<li><a href="#">Skater Database</a></li>
								<li><a href="#">Skate Videos</a></li>
							</ul>
						</div>
					</div>
				</li>

				<li><a href="#">Events</a></li>
				<li><a href="#">About</a></li>
				<li><a href="/search">Search</a></li><!-- We should probably just link to a main search page for mobile devices -->
			</ul>
		</div>
	</div>
</nav>
<!-- /mp-menu -->