---
title: Buttons
---

<div class="wrapper well isWhite bgIsLight">
	<div class="container">
		<h2>Button Examples:</h2>
	</div>
</div>


<div class="wrapper well--l pt--none isWhite bgIsLight">
	<div class="container">
		<h4>Monochrome Buttons</h4>
		<div class="btn-row">
			<a href="#" class="btn btn--outlineHover">Default Button</a> <a href="#" class="btn btn--alt">Alternate Button</a> <a href="http://google.com/" class="btn btn--disabled" target="_blank">Default Button Disabled</a> <a href="#" class="btn btn--disabled btn--alt">Alt Button Disabled</a>
		</div>

		<br /><br />

		<h4>No-outline-on-hover Button (for over photo background)</h4>
		<div class="isDarkGray" style="padding: 5%; background-image: url('https://source.unsplash.com/category/nature/1200x400'); background-size: cover; background-repeat: no-repeat;">
			<div class="btn-row">
				<a href="#" class="btn">Default Button</a>
			</div>
		</div>

		<br /><br />

		<h4>Primary Color Buttons</h4>
		<div class="btn-row">
			<a href="#" class="btn btn--primary">Primary Color Button</a> <a href="#" class="btn btn--alt btn--primary">Primary Color Alt Button</a>
		</div>

		<br /><br />

		<h4>Secondary Color Buttons</h4>
		<div class="btn-row">
			<a href="#" class="btn btn--secondary">Secondary Color Button</a> <a href="#" class="btn btn--alt btn--secondary">Secondary Color Alt Button</a>
		</div>
	</div>
</div>



<div class="wrapper well isWhite bgIsLight">
	<div class="container" style="max-width: 600px;">
		<h3>Buttons In Grid Formation</h3>

		<div class="grid-group btn-grid gutter--m row_of_4 hasRows">
			<div class="col span_3_of_12"><a href="#" class="btn btn--alt">5</a></div>
			<div class="col span_3_of_12"><a href="#" class="btn btn--alt">6</a></div>
			<div class="col span_3_of_12"><a href="#" class="btn btn--alt">7</a></div>
			<div class="col span_3_of_12"><a href="#" class="btn btn--alt">8</a></div>
			<div class="col span_3_of_12"><a href="#" class="btn btn--alt">9</a></div>
			<div class="col span_3_of_12"><a href="#" class="btn btn--alt">10</a></div>
			<div class="col span_3_of_12"><a href="#" class="btn btn--alt">11</a></div>
		</div>
	</div>
</div>