---
title: Home | The Boarder
---

<div class="hero-wrapper wrapper">
	<div class="hero hero-slider wrapper">
		<div class="hero-slide fullVP hasOverlay" style="background-image: url('/img/hero-1.jpg');">
			<div class="overlay overlay--15"></div>
			<div class="hero-content container--s overlay-content vAlign">
				<h3>Events</h3>
				<h2>The Boardr Am <br />
					NYC 2017</h2>
				<div class="center-btns btn-row">
					<a href="#" class="btn btn--noOutlineHover">Register Now</a>
				</div>
			</div>
		</div>

		<div class="hero-slide fullVP hasOverlay" style="background-image: url('/img/hero-1.jpg');">
			<div class="overlay"></div>
			<div class="hero-content container--s overlay-content vAlign">
				<h3>Freshly Dropped</h3>
				<h2>The Hupper 2 Lo</h2>
				<div class="center-btns btn-row">
					<a href="#" class="btn btn--noOutlineHover">Shop Now</a>
				</div>
			</div>
		</div>
	</div>

	<div class="slider-arrows whiteArrows">
		<div class="inner container--full"></div>
	</div>
</div>


<div class="wrapper well--s">
	<div class="container--l">
		<div class="section-heading container--s center-text well">
			<h2>The Boardr Fund</h2>
			<p>The Boardr Fund makes it easy for the skateboarding community to support their favorite pros, ams, and up and comers. Find out more and start your own. If your favorite skater doesn't have a Boardr Fund, tell them to get it started!</p>
			<div class="btn-row center-btns">
				<a href="#" class="btn">Apply Now</a>
			</div>
		</div>

		<div class="card-list grid-container">
			<div class="row">
				<div class="col-12 col-tn-6 col-md-4">
					<div class="card">
						<div class="card-img">
							<a href="#"><img src="/img/card-img-2a.jpg" alt=""></a>
						</div>

						<div class="card-text">
							<h3>Card Title Text</h3>
							<a href="#" class="text-link">View Profile</a>
						</div>
					</div>
				</div>
				<div class="col-12 col-tn-6 col-md-4">
					<div class="card">
						<div class="card-img">
							<a href="#"><img src="/img/card-img-2b.jpg" alt=""></a>
						</div>

						<div class="card-text">
							<h3>Card Title Text</h3>
							<a href="#" class="text-link">View Profile</a>
						</div>
					</div>
				</div>
				<div class="col-12 col-tn-6 col-md-4">
					<div class="card">
						<div class="card-img">
							<a href="#"><img src="/img/card-img-2c.jpg" alt=""></a>
						</div>

						<div class="card-text">
							<h3>Card Title Text</h3>
							<a href="#" class="text-link">View Profile</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="wrapper well--s pt--none">
	<div class="container--l">
		<div class="section-heading container--s center-text well">
			<h2>Latest News</h2>
			<div class="btn-row center-btns">
				<a href="#" class="btn">View All</a>
			</div>
		</div>

		<div class="card-list grid-container">
			<div class="row">
				<div class="col-12 col-sm-6">
					<div class="card">
						<div class="card-img">
							<a href="#"><img src="/img/card-img-1a.jpg" alt=""></a>
						</div>

						<div class="card-text">
							<h3>Example Blog Post Title</h3>
							<a href="#" class="text-link">Read Up</a>
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-6">
					<div class="card">
						<div class="card-img">
							<a href="#"><img src="/img/card-img-1b.jpg" alt=""></a>
						</div>

						<div class="card-text">
							<h3>Another Blog Post Title That's Pretty Long</h3>
							<a href="#" class="text-link">Read Up</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="wrapper well--s pt--none">
	<div class="container--l">
		<div class="section-heading container--s center-text well">
			<h2>Upcoming Events</h2>
			<div class="btn-row center-btns">
				<a href="#" class="btn">View All</a>
			</div>
		</div>

		<div class="card-list grid-container">
			<div class="row">
				<div class="col-12 col-sm-6 col-md-4">
					<div class="card">
						<div class="card-img">
							<a href="#"><img src="/img/card-img-1b.jpg" alt=""></a>
						</div>

						<div class="card-text">
							<h3>Foundation "Oddity" Video Showing</h3>
							<p>February 17, 2017, Tampa, Florida</p>
							<a href="#" class="text-link">Full Details</a>
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-6 col-md-4">
					<div class="card">
						<div class="card-img">
							<a href="#"><img src="/img/card-img-1a.jpg" alt=""></a>
						</div>

						<div class="card-text">
							<h3>Vans Park Series Global Qualifiers at Manly</h3>
							<p>February 27 - March 4, 2017, Manly, Australia</p>
							<a href="#" class="text-link">Full Details</a>
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-6 col-md-4">
					<div class="card">
						<div class="card-img">
							<a href="#"><img src="/img/card-img-1b.jpg" alt=""></a>
						</div>

						<div class="card-text">
							<h3>Zappos Rideshop at Las Vegas</h3>
							<p>April 22, 2017, Las Vegas, Nevada</p>
							<a href="#" class="text-link">Full Details</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="wrapper well pt--none">
	<div class="container--l">
		<div class="section-heading container--s center-text well pb--s">
			<h2>Featured Products</h2>
			<div class="btn-row center-btns">
				<a href="#" class="btn">View All</a>
			</div>
		</div>

		<div class="card-list grid-container">
			<div class="row">
				<div class="col-6">
					<div class="card">
						<div class="card-img">
							<a href="#"><img src="/img/card-img-2a.jpg" alt=""></a>
						</div>

						<div class="card-text">
							<h3>Card Title Text</h3>
							<p>A short description of the product can go here</p>
							<a href="#" class="text-link">Shop Now</a>
						</div>
					</div>
				</div>
				<div class="col-6">
					<div class="card">
						<div class="card-img">
							<a href="#"><img src="/img/card-img-2b.jpg" alt=""></a>
						</div>

						<div class="card-text">
							<h3>Card Title Text</h3>
							<p>A short description of the product can go here</p>
							<a href="#" class="text-link">Shop Now</a>
						</div>
					</div>
				</div>
				<div class="col-6">
					<div class="card">
						<div class="card-img">
							<a href="#"><img src="/img/card-img-2c.jpg" alt=""></a>
						</div>

						<div class="card-text">
							<h3>Card Title Text</h3>
							<p>A short description of the product can go here</p>
							<a href="#" class="text-link">Shop Now</a>
						</div>
					</div>
				</div>
				<div class="col-6">
					<div class="card">
						<div class="card-img">
							<a href="#"><img src="/img/card-img-2a.jpg" alt=""></a>
						</div>

						<div class="card-text">
							<h3>Card Title Text</h3>
							<p>A short description of the product can go here</p>
							<a href="#" class="text-link">Shop Now</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>