---
title: Index | The Boarder
---

<div class="wrapper well">
	<div class="container--l">
		<h2>Links to demo pages:</h2>

		<ul>
			<li><a href="/home">"Home" page</a></li>
			<li><a href="/hero">Hero Example</a></li>
			<li><a href="/buttons">Button Examples</a></li>
			<li><a href="/cards">Cards and CTA Modules</a></li>
			<li><a href="/product">Product Page</a></li>
			<li><a href="/grid">Grid Framework</a></li>
		</ul>

		<p>(Also, check out the Search link in the header)</p>

		<br /><br />

		<h3>Details on the JS</h3>
		<p>I went ahead and didn't minify the main site-min.js - just so it would stay readable for you.  But if you want me to go ahead and minify it, I'll do that for you.</p>
		<p>My main scripts are placed after all the libraries that are imported, and start at line 2226.</p>
		<p>There are also several areas that are jQuery in this file, simply because I'm not sure how to do perform these functions without jQuery.  One item that the header relys heavily on for its hiding/showing on scroll is a library called Waypoints.js.  It looks like they have a vanilla js version - but I'm not really sure how to go about converting my coded waypoints into non-jQuery format.</p>
		<p>You'll also see a lot of viewport size and element size checking done with jQuery... maybe this can be easily converted to vanilla js?</p>
		<p>So unfortunately, at the moment jQuery will be required on all pages - as the header and screen-size calculating all have jQuery based functions.</p>

		<br /><br />

		<h3>Marina Framework Docs</h3>
		<p>Some documentation for layout classes EX: container widths, padding ('well' system), etc... on our framework (named Marina) can be found here: <a href="https://github.com/harbrco/marina/wiki" target="_blank">https://github.com/harbrco/marina/wiki</a>  &nbsp;(You can disregard any mentions of Grid, Modular Flexbox, or "Cards" in that documentation - those areas are all omitted from The Boardr's files.)  Marina is definitely an ongoing work-in-progress.</p>
	</div>
</div>