---
title: Product Page
---

<div class="wrapper well">
	<div class="product-intro container--l">
		<div class="layout-split split-50-50">
			<div class="split-50-left">
				<div class="mobile-product-title">
					<h1>Product Name Example Right Here</h1>
				</div>

				<div class="product-slider-wrapper wrapper">
					<div class="product-slider">
						<img src="/img/card-img-2a.jpg" alt="">
						<img src="/img/card-img-2b.jpg" alt="">
						<img src="/img/card-img-2c.jpg" alt="">
						<img src="/img/card-img-2a.jpg" alt="">
						<img src="/img/card-img-2b.jpg" alt="">
						<img src="/img/card-img-2c.jpg" alt="">
						<img src="/img/card-img-2a.jpg" alt="">
						<img src="/img/card-img-2b.jpg" alt="">
						<img src="/img/card-img-2c.jpg" alt="">
					</div>
					<div class="product-slider-arrows slider-arrows whiteArrows">
						<div class="inner container--l"></div>
					</div>
				</div>

				<div class="product-slider-nav-wrapper wrapper">
					<div class="product-slider-nav">
						<img src="/img/card-img-2a.jpg" alt="">
						<img src="/img/card-img-2b.jpg" alt="">
						<img src="/img/card-img-2c.jpg" alt="">
						<img src="/img/card-img-2a.jpg" alt="">
						<img src="/img/card-img-2b.jpg" alt="">
						<img src="/img/card-img-2c.jpg" alt="">
						<img src="/img/card-img-2a.jpg" alt="">
						<img src="/img/card-img-2b.jpg" alt="">
						<img src="/img/card-img-2c.jpg" alt="">
					</div>
				</div>
			</div>

			<div class="split-50-right">
				<h1>Product Name Example Right Here</h1>

				<div class="grid-group btn-grid gutter row_of_4 hasRows">
					<div class="col span_3_of_12"><a href="#" class="btn btn--alt">5</a></div>
					<div class="col span_3_of_12"><a href="#" class="btn btn--alt">6</a></div>
					<div class="col span_3_of_12"><a href="#" class="btn btn--alt">7</a></div>
					<div class="col span_3_of_12"><a href="#" class="btn btn--alt">8</a></div>
					<div class="col span_3_of_12"><a href="#" class="btn btn--alt">9</a></div>
					<div class="col span_3_of_12"><a href="#" class="btn btn--alt">10</a></div>
					<div class="col span_3_of_12"><a href="#" class="btn btn--alt">11</a></div>
				</div>
			</div>
		</div>
	</div>
</div>